@font-face {
    font-family: 'Rubik Regular';
    src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik Bold';
    src: url('../fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'Rubik SemiBold';
    src: url('../fonts/Rubik-SemiBold.ttf');
}

$background-main: radial-gradient(#2C35A2 1%, #252C88 16%, #1B2167 40%, #15194F 62%, #101540 83%, #0F133B 100%);
$background-secondary: #CEEDFF;
$background-white: #FBFBFB;
$background-black: #040404;


$font-color-white: #FBFBFB;
$font-color-bright-blue: #6DE0F6;
$font-color-black: #040404;
$font-color-grey: #8B8B8B;

$header-auth-button-border-radius: 20px;
$header-auth-button-bg: #6DE0F6;
$header-auth-button-hover-border: 2px solid #6DE0F6;

$main-exchange-interaction-button-bg: #D4088C;
$main-exchange-interaction-button-border-radius: 28px;
$main-exchange-interaction-inputs-block-bg: #CEEDFF; 
$main-exchange-interaction-inputs-block-border-radius: 4px;

$main-treasure-treasures-block-border-radius: 12px;

$font-size-h1: 40px;
$font-size-h1-mobile: 26px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-largest: 22px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-smallest: 12px;


body {
    font-family: 'Rubik Regular', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $background-main;
    background-repeat: no-repeat;
    color: $font-color-white;
    padding: 0;
    margin: 0;
    .header {
        padding: 30px 0;
        max-width: 1280px;
        display: grid;
        grid-template-columns:  1fr 4fr 1fr;
        grid-column-gap: 24px;
        align-items: center;
        color: $font-color-white;
        .header__logo {
            display: flex;
            align-items: center;
            label {
                margin-left: 16px;
                font-size: $font-size-largest;
                color: $font-color-bright-blue;
                line-height: 24px;
            }
        }
        .header__nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            a {
                font-size: $font-size-medium;
            }
        }
        .header__auth {
            display: flex;
            justify-content: space-between;
            .header__nav__menu {
                z-index: 1;
                .header__nav__menu__profile {
                    display: flex;
                    align-items: center;
                    a {
                        margin-left: 16px;
                    }
                }
                a {
                    color: $font-color-black;
                }
                input {
                    width: 160px;
                    height: 32px;
                    border: none;
                    border-radius: $main-exchange-interaction-inputs-block-border-radius;
                    padding: 0 8px;
                    font-size: $font-size-medium;
                }
                position: fixed;
                display: none;
                flex-direction: column;
                justify-content: space-around;
                height: 90%;
                right: 0;
                top: 0;
                padding: 40px 80px;
                background-color: $background-secondary;
                transform: translateX(100%);
	            transition: transform 0.5s;
            }
            .header__nav__menu.active {
                transform: translateX(0);
            }
            .header__nav__menu__btn {
                display: none;
                margin-left: 16px;
                width: 30px;
                height: 30px;
                position: relative;
                z-index:2;
                overflow: hidden;
                span {
                    width: 30px;
                    height: 2px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: $header-auth-button-bg;
                    transition: all 0.5s;
                }
                span:nth-of-type(2) {
                    top: calc(50% - 12px);
                }
                span:nth-of-type(3) {
                    top: calc(50% + 12px);
                }
            }
            .header__nav__menu__btn.active {
                position: fixed;
                top: 30px;
                right: 20px;
                span {
                    background-color: $background-black;
                }
                span:nth-of-type(1) {  
                    display: none;
                }
                span:nth-of-type(2) {
                  top: 50%;
                  transform: translate(-50%, 0%) rotate(45deg);  
                }
                span:nth-of-type(3) {
                  top: 50%;
                  transform: translate(-50%, 0%) rotate(-45deg); 
                }
            }
            button {
                margin-left: 30px;
                width: 146px;
                height: 38px;
                box-sizing: border-box;
                border-radius: $header-auth-button-border-radius;
                background-color: transparent;
                border: $header-auth-button-hover-border;
                font-size: $font-size-large;
                color: $font-color-white;
                transition: 0.3s all ease-in-out;
            }
            button:hover {
                background-color: $header-auth-button-bg;
                color: $font-color-black;
            }
        }
    }
    .main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        .main__exchange {
            max-width: 1280px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-bottom: 100px;
            .main__exchange__interaction {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h1 {
                    align-self: flex-start;
                    width: 80%;
                    font-size: $font-size-h1;
                }
                p {
                    align-self: flex-start;
                    font-size: $font-size-large;
                }
                button {
                    width: 372px;
                    margin-top: 40px;
                    height: 48px;
                    text-transform: uppercase;
                    font-size: $font-size-large;
                    color: $font-color-white;
                    background: $main-exchange-interaction-button-bg;
                    border: none;
                    border-radius: $header-auth-button-border-radius;
                }
                .main__exchange__interaction__agreement {
                    display: flex;
                    p {
                        margin-left: 8px;
                        a {
                            text-decoration: underline;
                        }
                    }
                }
                .main__exchange__interaction__inputs {
                    display: flex;
                    position: relative;
                    img {
                        position: absolute;
                        top: 100px;
                        left: 290px;
                    }
                    .main__exchange__interaction__inputs__block:nth-of-type(2) {
                        label:nth-of-type(2), p:nth-of-type(3) {
                            display: none;
                        }
                    }
                    .main__exchange__interaction__inputs__block {
                        margin-top: 20px;
                        p {
                            font-size: $font-size-small;
                            margin: 6px 0;
                        }
                        input,select {
                            width: 280px;
                            height: 48px;
                            box-sizing: border-box;
                            padding-left: 10px;
                            background-color: $main-exchange-interaction-inputs-block-bg;
                            margin-bottom: 32px;
                            border: none;
                            border-radius: $main-exchange-interaction-inputs-block-border-radius;
                            font-size: $font-size-large;
                        }
                        label {
                            text-align: end;
                            font-size: $font-size-large;
                            span {
                                color: $font-color-grey;
                            }
                        }
                    }
                }
            }
        }
        .main__about {
            color: $font-color-black;
            padding: 100px 0 180px 0;
            position: relative;
            overflow: hidden;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .main__about__block {
                max-width: 1280px;
            }
            h2 {
                font-size: $font-size-h2;
            }
            p {
                font-size: $font-size-largest;
                width: 80%;
            }
            .main__about__exchangers {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                .main__about__exchangers__block {
                    display: flex;
                    align-items: center;
                    margin-top: 36px;
                    img {
                        width: 48px;
                        width: 48px;
                        object-fit: contain;
                        margin-right: 16px;
                    }
                    p {
                        font-size: $font-size-large;
                    }
                }
            }
        }
        .main__about::before {
            content: "";
            position: absolute;
            width: 120%;
            height: 100%;
            top: -10%;
            z-index: -1;
            transform: rotate(-2deg);
            background: $background-secondary 0 0 repeat;
        }
        .main__treasury {
            width: 1280px;
            padding-bottom: 120px;
            h2 {
                font-size: $font-size-h2;
                margin-bottom: 48px;
            }
            .main__treasury__treasures {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-column-gap: 16px;
                grid-row-gap: 32px;
                justify-content: center;
                align-items: center;
                .main__treasury__treasures__block {
                    box-sizing: border-box;
                    padding: 0 20px;
                    width: 600px;
                    height: 72px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: $font-color-black;
                    background: $background-white;
                    border-radius: $main-treasure-treasures-block-border-radius;
                    .main__treasury__treasures__block__title {
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 48px;
                        height: 48px;
                        object-fit: contain;
                    }
                    p {
                        margin-left: 16px;
                        font-size: $font-size-largest;
                    }
                    label {
                        font-size: $font-size-largest;
                        span {
                            font-size: $font-size-large;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        .header {
            max-width: 720px;
            grid-template-columns: 1fr 1fr;
            .header__logo {
                label {
                    font-size: $font-size-medium;
                }
            }
            .header__nav {
                display: none;
            }
            .header__auth {
                justify-content: center;
                .header__nav__menu {
                    display: flex;
                }
                .header__nav__menu__btn {
                    display: block;
                }
                button {
                    width: 120px;
                    height: 32px;
                }
            }
        }
        .main {
            .main__exchange {
                max-width: 720px;
                align-items: center;
                .main__exchange__interaction {
                    p {
                        font-size: $font-size-small;
                    }
                    button {
                        width: 248px;
                        height: 40px;
                    }
                    .main__exchange__interaction__inputs {
                        img {
                            width: 20px;
                            left: 160px;
                            top: 88px;
                        }
                        .main__exchange__interaction__inputs__block {
                            input, select {
                                width: 160px;
                                height: 32px;
                                font-size: $font-size-small;
                                padding-left: 4px;
                            }
                            label {
                                font-size: $font-size-medium;
                            }
                        }
                    }
                }
                img {
                    width: 360px;
                }
            }
            .main__about {
                p {
                    width: 100%;
                }
                .main__about__block {
                    max-width: 720px;
                    .main__about__exchangers {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                }
            }
            .main__treasury {
                padding-bottom: 80px;
                width: 720px;
                .main__treasury__treasures {
                    grid-column-gap: 8px;
                    max-width: 720px;
                    grid-row-gap: 16px;
                    .main__treasury__treasures__block {
                        width: 336px;
                        height: 56px;
                        img {
                            width: 32px;
                            height: 32px;
                        }
                        p {
                            font-size: $font-size-medium;
                        }
                        label {
                            font-size: $font-size-medium;
                            font-weight: bold;
                            span {
                                font-size: $font-size-medium;
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    } 
}

@media screen and (max-width: 425px) {
    body {
        text-align: center;
        .header {
            max-width: 320px;
            .header__auth {
                button:nth-of-type(2) {
                    display: none;
                }
                .header__nav__menu__btn {
                    span {
                        width: 24px;
                    }
                    span:nth-of-type(2) {
                        top: calc(50% - 8px);
                    }
                    span:nth-of-type(3) {
                        top: calc(50% + 8px);
                    }
                }
            }
        }
        .main {
            .main__exchange {
                max-width: 320px;
                grid-template-columns: 1fr;
                justify-content: center;
                img {
                    display: none;
                }
                .main__exchange__interaction {
                    h1 {
                        width: 100%;
                        font-size: $font-size-h1-mobile;
                    }
                    .main__exchange__interaction__inputs {
                        flex-direction: column;
                        img {
                            display: block;
                            top: 160px;
                            left: 152px;
                            transform: rotate(90deg);
                        }
                        .main__exchange__interaction__inputs__block {
                            input, select {
                                width: 320px;
                                height: 40px;
                                padding-left: 8px;
                                font-size: $font-size-medium;
                                margin-bottom: 16px;
                            }
                        }
                        .main__exchange__interaction__inputs__block:nth-of-type(1) {
                            label, p:nth-of-type(2) {
                                display: none;
                            }
                        }
                        .main__exchange__interaction__inputs__block:nth-of-type(2) {
                            p:nth-of-type(3) {
                                margin-top: 16px;
                            }
                            label:nth-of-type(2), p:nth-of-type(3) {
                                display: block;
                                text-align: center;
                            }
                        }
                    }
                }
            }
            .main__about {
                h2 {
                    font-size: $font-size-largest;
                }
                p {
                    font-size: $font-size-medium;
                }
                .main__about__block {
                    max-width: 320px;
                    .main__about__exchangers {
                        grid-template-columns: 1fr 1fr;
                        grid-column-gap: 8px;
                    }
                    .main__about__exchangers__block {
                        img {
                            width: 32px;
                        }
                        p {
                            font-size: $font-size-small;
                        }
                    }
                }
            }
            .main__treasury {
                width: 320px;
                .main__treasury__treasures {
                    grid-template-columns: 1fr;
                    .main__treasury__treasures__block {
                        width: 320px;
                        p {
                            font-size: $font-size-smallest;
                        }
                        label {
                            font-size: $font-size-smallest;
                            span {
                                font-size: $font-size-smallest;
                            }
                        }
                    }
                }
            }
        }
    }
}
