@font-face {
  font-family: "Rubik Regular";
  src: url("../fonts/Rubik-Regular.ttf");
}
@font-face {
  font-family: "Rubik Bold";
  src: url("../fonts/Rubik-Bold.ttf");
}
@font-face {
  font-family: "Rubik SemiBold";
  src: url("../fonts/Rubik-SemiBold.ttf");
}
body {
  font-family: "Rubik Regular", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(#2C35A2 1%, #252C88 16%, #1B2167 40%, #15194F 62%, #101540 83%, #0F133B 100%);
  background-repeat: no-repeat;
  color: #FBFBFB;
  padding: 0;
  margin: 0;
}
body .header {
  padding: 30px 0;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-column-gap: 24px;
  align-items: center;
  color: #FBFBFB;
}
body .header .header__logo {
  display: flex;
  align-items: center;
}
body .header .header__logo label {
  margin-left: 16px;
  font-size: 22px;
  color: #6DE0F6;
  line-height: 24px;
}
body .header .header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .header .header__nav a {
  font-size: 16px;
}
body .header .header__auth {
  display: flex;
  justify-content: space-between;
}
body .header .header__auth .header__nav__menu {
  z-index: 1;
  position: fixed;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  right: 0;
  top: 0;
  padding: 40px 80px;
  background-color: #CEEDFF;
  transform: translateX(100%);
  transition: transform 0.5s;
}
body .header .header__auth .header__nav__menu .header__nav__menu__profile {
  display: flex;
  align-items: center;
}
body .header .header__auth .header__nav__menu .header__nav__menu__profile a {
  margin-left: 16px;
}
body .header .header__auth .header__nav__menu a {
  color: #040404;
}
body .header .header__auth .header__nav__menu input {
  width: 160px;
  height: 32px;
  border: none;
  border-radius: 4px;
  padding: 0 8px;
  font-size: 16px;
}
body .header .header__auth .header__nav__menu.active {
  transform: translateX(0);
}
body .header .header__auth .header__nav__menu__btn {
  display: none;
  margin-left: 16px;
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
body .header .header__auth .header__nav__menu__btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6DE0F6;
  transition: all 0.5s;
}
body .header .header__auth .header__nav__menu__btn span:nth-of-type(2) {
  top: calc(50% - 12px);
}
body .header .header__auth .header__nav__menu__btn span:nth-of-type(3) {
  top: calc(50% + 12px);
}
body .header .header__auth .header__nav__menu__btn.active {
  position: fixed;
  top: 30px;
  right: 20px;
}
body .header .header__auth .header__nav__menu__btn.active span {
  background-color: #040404;
}
body .header .header__auth .header__nav__menu__btn.active span:nth-of-type(1) {
  display: none;
}
body .header .header__auth .header__nav__menu__btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
body .header .header__auth .header__nav__menu__btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}
body .header .header__auth button {
  margin-left: 30px;
  width: 146px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  border: 2px solid #6DE0F6;
  font-size: 18px;
  color: #FBFBFB;
  transition: 0.3s all ease-in-out;
}
body .header .header__auth button:hover {
  background-color: #6DE0F6;
  color: #040404;
}
body .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
body .main .main__exchange {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
}
body .main .main__exchange .main__exchange__interaction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .main .main__exchange .main__exchange__interaction h1 {
  align-self: flex-start;
  width: 80%;
  font-size: 40px;
}
body .main .main__exchange .main__exchange__interaction p {
  align-self: flex-start;
  font-size: 18px;
}
body .main .main__exchange .main__exchange__interaction button {
  width: 372px;
  margin-top: 40px;
  height: 48px;
  text-transform: uppercase;
  font-size: 18px;
  color: #FBFBFB;
  background: #D4088C;
  border: none;
  border-radius: 20px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__agreement {
  display: flex;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__agreement p {
  margin-left: 8px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__agreement p a {
  text-decoration: underline;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs {
  display: flex;
  position: relative;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs img {
  position: absolute;
  top: 100px;
  left: 290px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(2) label:nth-of-type(2), body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(2) p:nth-of-type(3) {
  display: none;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block {
  margin-top: 20px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block p {
  font-size: 14px;
  margin: 6px 0;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block input, body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block select {
  width: 280px;
  height: 48px;
  box-sizing: border-box;
  padding-left: 10px;
  background-color: #CEEDFF;
  margin-bottom: 32px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block label {
  text-align: end;
  font-size: 18px;
}
body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block label span {
  color: #8B8B8B;
}
body .main .main__about {
  color: #040404;
  padding: 100px 0 180px 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .main .main__about .main__about__block {
  max-width: 1280px;
}
body .main .main__about h2 {
  font-size: 30px;
}
body .main .main__about p {
  font-size: 22px;
  width: 80%;
}
body .main .main__about .main__about__exchangers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
body .main .main__about .main__about__exchangers .main__about__exchangers__block {
  display: flex;
  align-items: center;
  margin-top: 36px;
}
body .main .main__about .main__about__exchangers .main__about__exchangers__block img {
  width: 48px;
  width: 48px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 16px;
}
body .main .main__about .main__about__exchangers .main__about__exchangers__block p {
  font-size: 18px;
}
body .main .main__about::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: -10%;
  z-index: -1;
  transform: rotate(-2deg);
  background: #CEEDFF 0 0 repeat;
}
body .main .main__treasury {
  width: 1280px;
  padding-bottom: 120px;
}
body .main .main__treasury h2 {
  font-size: 30px;
  margin-bottom: 48px;
}
body .main .main__treasury .main__treasury__treasures {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 32px;
  justify-content: center;
  align-items: center;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block {
  box-sizing: border-box;
  padding: 0 20px;
  width: 600px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #040404;
  background: #FBFBFB;
  border-radius: 12px;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block .main__treasury__treasures__block__title {
  display: flex;
  align-items: center;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block img {
  width: 48px;
  height: 48px;
  -o-object-fit: contain;
     object-fit: contain;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block p {
  margin-left: 16px;
  font-size: 22px;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label {
  font-size: 22px;
}
body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label span {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  body .header {
    max-width: 720px;
    grid-template-columns: 1fr 1fr;
  }
  body .header .header__logo label {
    font-size: 16px;
  }
  body .header .header__nav {
    display: none;
  }
  body .header .header__auth {
    justify-content: center;
  }
  body .header .header__auth .header__nav__menu {
    display: flex;
  }
  body .header .header__auth .header__nav__menu__btn {
    display: block;
  }
  body .header .header__auth button {
    width: 120px;
    height: 32px;
  }
  body .main .main__exchange {
    max-width: 720px;
    align-items: center;
  }
  body .main .main__exchange .main__exchange__interaction p {
    font-size: 14px;
  }
  body .main .main__exchange .main__exchange__interaction button {
    width: 248px;
    height: 40px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs img {
    width: 20px;
    left: 160px;
    top: 88px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block input, body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block select {
    width: 160px;
    height: 32px;
    font-size: 14px;
    padding-left: 4px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block label {
    font-size: 16px;
  }
  body .main .main__exchange img {
    width: 360px;
  }
  body .main .main__about p {
    width: 100%;
  }
  body .main .main__about .main__about__block {
    max-width: 720px;
  }
  body .main .main__about .main__about__block .main__about__exchangers {
    grid-template-columns: 1fr 1fr 1fr;
  }
  body .main .main__treasury {
    padding-bottom: 80px;
    width: 720px;
  }
  body .main .main__treasury .main__treasury__treasures {
    grid-column-gap: 8px;
    max-width: 720px;
    grid-row-gap: 16px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block {
    width: 336px;
    height: 56px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block img {
    width: 32px;
    height: 32px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block p {
    font-size: 16px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label {
    font-size: 16px;
    font-weight: bold;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label span {
    font-size: 16px;
    font-weight: normal;
  }
}
@media screen and (max-width: 425px) {
  body {
    text-align: center;
  }
  body .blur.active {
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    filter: blur(60px);
    position: fixed;
    top: 0;
  }
  body .header {
    max-width: 296px;
  }
  body .header .header__auth button {
    width: 80px;
    font-size: 12px;
  }
  body .header .header__auth button:nth-of-type(2) {
    display: none;
  }
  body .header .header__auth .header__nav__menu {
    text-align: left;
    padding: 40px 60px;
  }
  body .header .header__auth .header__nav__menu__btn {
    margin-left: 8px;
  }
  body .header .header__auth .header__nav__menu__btn span {
    width: 24px;
  }
  body .header .header__auth .header__nav__menu__btn span:nth-of-type(2) {
    top: calc(50% - 8px);
  }
  body .header .header__auth .header__nav__menu__btn span:nth-of-type(3) {
    top: calc(50% + 8px);
  }
  body .header .header__auth .header__nav__menu__btn.active {
    right: 6px;
  }
  body .main .main__exchange {
    max-width: 296px;
    grid-template-columns: 1fr;
    justify-content: center;
  }
  body .main .main__exchange img {
    display: none;
  }
  body .main .main__exchange .main__exchange__interaction h1 {
    width: 100%;
    font-size: 26px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__agreement {
    justify-content: center;
    align-items: center;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs {
    flex-direction: column;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs img {
    display: block;
    top: 160px;
    left: 136px;
    transform: rotate(90deg);
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block input, body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block select {
    width: 296px;
    height: 40px;
    padding-left: 8px;
    font-size: 16px;
    margin-bottom: 16px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(1) label, body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(1) p:nth-of-type(2) {
    display: none;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(2) p:nth-of-type(3) {
    margin-top: 16px;
  }
  body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(2) label:nth-of-type(2), body .main .main__exchange .main__exchange__interaction .main__exchange__interaction__inputs .main__exchange__interaction__inputs__block:nth-of-type(2) p:nth-of-type(3) {
    display: block;
    text-align: center;
  }
  body .main .main__about h2 {
    font-size: 22px;
  }
  body .main .main__about p {
    font-size: 16px;
  }
  body .main .main__about .main__about__block {
    max-width: 296px;
  }
  body .main .main__about .main__about__block .main__about__exchangers {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 8px;
  }
  body .main .main__about .main__about__block .main__about__exchangers__block img {
    width: 32px;
    margin-right: 4px;
  }
  body .main .main__about .main__about__block .main__about__exchangers__block p {
    font-size: 14px;
  }
  body .main .main__treasury {
    width: 296px;
  }
  body .main .main__treasury .main__treasury__treasures {
    grid-template-columns: 1fr;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block {
    width: 296px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block img {
    width: 24px;
    height: 24px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block .main__treasury__treasures__block__title p {
    margin-left: 6px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block p {
    font-size: 12px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label {
    pointer-events: none;
    text-decoration: none;
    color: #040404;
    font-size: 12px;
  }
  body .main .main__treasury .main__treasury__treasures .main__treasury__treasures__block label span {
    font-size: 12px;
  }
}/*# sourceMappingURL=index.css.map */